openapi: 3.0.1
info:
  title: Incode Omni Face and Liveness Government Validation API
  description: REST API for the Incode Omni identity verification platform. Onboarding sessions capture and validate government IDs, run face match and passive liveness, perform government-database and watchlist/AML screening, and return scores, OCR data, and images. All calls require an x-api-key, and module calls additionally require the session token in the X-Incode-Hardware-Id header.
  termsOfService: https://incode.com/legal/terms-of-service
  contact:
    name: Incode Support
    url: https://developer.incode.com/
  version: '1.0'
servers:
- url: https://demo-api.incodesmile.com
  description: Demo / sandbox
- url: https://api.incodesmile.com
  description: Production
security:
- ApiKeyAuth: []
  SessionToken: []
tags:
- name: Government Validation
  description: Validation against government databases.
paths:
  /omni/process/government-validation:
    post:
      operationId: processGovernmentValidation
      tags:
      - Government Validation
      summary: Validate ID data against a government database.
      description: Validates captured ID data against the applicable government source based on the session country code (e.g. Mexico INE, Peru RENIEC), with optional fallback and selfie-to-government-image comparison.
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/HardwareId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GovernmentValidationRequest'
      responses:
        '200':
          description: Government validation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessResponse'
components:
  parameters:
    HardwareId:
      name: X-Incode-Hardware-Id
      in: header
      required: true
      schema:
        type: string
      description: Session token returned by POST /omni/start.
    ApiVersion:
      name: api-version
      in: header
      required: true
      schema:
        type: string
        default: '1.0'
  schemas:
    GovernmentValidationRequest:
      type: object
      properties:
        fallbackEnabled:
          type: boolean
          default: false
        scrapingMethod:
          type: boolean
          default: false
      additionalProperties: true
    ProcessResponse:
      type: object
      properties:
        success:
          type: boolean
      additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Client API key issued by Incode.
    SessionToken:
      type: apiKey
      in: header
      name: X-Incode-Hardware-Id
      description: Session token (Onboarding Token) returned by POST /omni/start.
